<div class="row">
	<h2 class="col-md-12 text-center">Departments</h2>
</div>

<div class="row">
	<div class="col-md-12 grid-min-height">
		<kendo-grid [kendoGridBinding]="departments | async"
					[pageSize]="10"
					[pageable]="true"
					[sortable]="{allowUnsort: true, mode: 'multiple'}"
					[filterable]="true"
					[groupable]="true"
					[height]="'inherit'">

			<kendo-grid-column-group title="Department "
									 [headerClass]="'grid-text-center bg-primary grid-header-text-bold grid-header-text-inverse'">

				<kendo-grid-column field="id"
								   title="ID"
								   [hidden]="true">
				</kendo-grid-column>
				<kendo-grid-column field="name"
								   title="Name"
								   width="25%">
				</kendo-grid-column>

				<kendo-grid-column field="budget"
								   title="Budget"
								   width="15%"
								   filter="numeric"
								   [headerClass]="'grid-cell-right-justified'"
								   [class]="'grid-cell-right-justified'">
					<ng-template kendoGridCellTemplate let-item>
						{{item.budget | currency:'USD':true:'2.0-0'}}
					</ng-template>
				</kendo-grid-column>
			</kendo-grid-column-group>

			<kendo-grid-column-group title="Administrator"
									 [headerClass]="'grid-text-center grid-header-green-inverse grid-header-text-bold'">

				<kendo-grid-column field="administratorLastName"
								   title="Last Name"
								   width="25%">
				</kendo-grid-column>

				<kendo-grid-column field="administratorFirstName"
								   title="First Name"
								   width="10%">
				</kendo-grid-column>

				<kendo-grid-column field="administratorHireDate"
								   filter="date"
								   title="Hire Date"
								   width="15%">
					<ng-template kendoGridCellTemplate let-item>
						{{item.administratorHireDate | date:"yyyy-MM-dd"}}
					</ng-template>
				</kendo-grid-column>

			</kendo-grid-column-group>

		</kendo-grid>
	</div>
</div>
