<div class="row">
	<div class="col-md-12 text-center h2">Courses</div>
</div>

<!-- non Progress Kendo UI for Angular way of displaying the list
<ng-template ngFor let-course [ngForOf]="courses | async">
	<div class="row">
		<div class="col-md-2">{{course.courseID}}</div>
		<div class="col-md-2">{{course.title}}</div>
		<div class="col-md-2">{{course.credits}}</div>
		<div class="col-md-2">{{getDepartmentName(course)}}</div>
	</div>
</ng-template>
-->

<div class="row">
	<div class="col-md-12 grid-min-height">
		<kendo-grid [data]="items"
		            [pageSize]="state.take"
		            [skip]="state.skip"
		            [sort]="state.sort"
		            [sortable]="true"
		            [pageable]="true"
		            [scrollable]="'scrollable'"
		            [groupable]="true"
		            [group]="state.group"
		            [filterable]="true"
		            [filter]="state.filter"
		            (dataStateChange)="dataStateChange($event)"
		            [height]="'inherit'">
			
			<kendo-grid-column field="courseID"
			                   title="ID"
			                   [hidden]="true">
			</kendo-grid-column>

			<kendo-grid-column field="title"
			                   title="Title"
			                   width="40%"
			                   [headerClass]="'grid-header-text-bold'">
			</kendo-grid-column>

			<kendo-grid-column field="credits"
			                   title="Credits"
			                   width="25%"
			                   filter="numeric"
			                   [headerClass]="'grid-cell-right-justified grid-header-text-bold'"
			                   [class]="'grid-cell-right-justified'">
			</kendo-grid-column>

			<kendo-grid-column field="departmentName"
			                   title="Department"
			                   width="35%"
			                   [headerClass]="'grid-header-text-bold'">
			</kendo-grid-column>

		</kendo-grid>
	</div>
</div>