<address>
  One Microsoft Way<br />
  Redmond, WA 98052-6399<br />
  <abbr title="Phone">P:</abbr>
  425.555.0100
</address>

<address>
  <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
  <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div class="row">
	<div class="col-md-12">
		<a href="http://www.xgility.com" target="_blank" title="clickable">
			<img src="http://lorempixel.com/100/50/sports/1"/>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<a onclick="return false;" title="non-clickable">
			<img src="http://lorempixel.com/100/50/sports/2" />
		</a>
	</div>
</div>