<div class="row">
	<div class="col-md-12 text-center h2">Student Body Statistics</div>
</div>

<!--http://www.telerik.com/kendo-angular-ui/components/-->
<kendo-grid [kendoGridBinding]="gridData"
            [pageSize]="10"
            [pageable]="true"
            [sortable]="true"
            [filterable]="true"
            [groupable]="true">
	<kendo-grid-column field="enrollmentDate"
					   title="Enrollment Date"
					   width="75%">
		<ng-template kendoGridCellTemplate let-item>
			{{item.enrollmentDate | date:"yyyy-MM-dd"}}
		</ng-template>
	</kendo-grid-column>
	<kendo-grid-column field="studentCount"
					   title="Students"
					   [headerClass]="text-right"
					   [headerStyle]="{'text-align': 'right'}"
					   [class]="text-right"
					   [style]="{'text-align': 'right'}"
					   width="25%">
	</kendo-grid-column>
</kendo-grid>
