<div class="row">
	<div class="col-md-12 text-center h2">Student Body Statistics</div>
</div>

<!-- Reference: -->
<!-- http://www.telerik.com/kendo-angular-ui/components/grid/data-binding/automatic-operations/ -->
<!-- Custom Remote Directives -->

<div class="row">
	<div class="col-md-12 grid-min-height" >
		<kendo-grid aboutGridDataBinding
		            [pageSize]="3"
		            [pageable]="true"
		            [sortable]="true"
		            [filterable]="true"
		            [groupable]="true"
		            [height]="'inherit'">
			<kendo-grid-column field="enrollmentDate"
			                   title="Enrollment Date"
			                   width="75%">
				<ng-template kendoGridCellTemplate let-item>
					{{item.enrollmentDate | date:"yyyy-MM-dd"}}
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-column field="studentCount"
			                   title="Students"
			                   width="25%"
			                   filter="numeric"
			                   [headerClass]="'grid-cell-right-justified'"
			                   [class]="'grid-cell-right-justified'"
							   >
				<ng-template kendoGridCellTemplate let-item>
					{{item.studentCount | number:'1.0-0' }}
				</ng-template>
			</kendo-grid-column>
		</kendo-grid>
	</div>
</div>

