<div class="row">
	<div class="col-md-12 text-center h2">Students</div>
</div>

<div class="row">
	<div class="col-md-12 grid-min-height">
		<kendo-grid [kendoGridBinding]="students | async"
					[pageSize]="10"
					[pageable]="true"
					[sortable]="true"
					[filterable]="true"
					[groupable]="true"
					[height]="'inherit'">

			<kendo-grid-column field="id"
							   title="ID"
							   width="5%">
			</kendo-grid-column>

			<kendo-grid-column field="lastName"
							   title="Last Name"
							   width="20%">
			</kendo-grid-column>

			<kendo-grid-column field="firstMidName"
							   title="First Name"
							   width="20%">
			</kendo-grid-column>

			<kendo-grid-column field="enrollmentDate"
			                   title="Enrollment Date"
							   filter="date"
							   width="15%">
				<ng-template kendoGridCellTemplate let-item>
					{{item.enrollmentDate | date:"yyyy-MM-dd"}}
				</ng-template>
			</kendo-grid-column>

		</kendo-grid>
	</div>
</div>

